<div class="resume">
  <div class="leftCol m_box">
    <div class="shadow"></div>
    <div class="heading" id="myselfpic">
    </div>
    <div class="section-headline">
     This is contact section headline. 
    </div>
    <div class="item">
      <div class="icon">
        <i class="material-icons">account_circle</i>
      </div>
      <div class="text">
        <ul>
          <li> {{birth.year}} {{birth.location}}</li>
        </ul>
      </div>
    </div>

    <div class="item">
      <div class="icon">
        <i class="material-icons">location_city</i>
      </div>
      <div class="text">
        <ul>
          <li>{{contact.street}}</li>
          <li>{{contact.city}}</li>
        </ul>
      </div>
    </div>

    <a :href="'tel:'+contact.phone">
      <div class="item">
        <div class="icon">
          <i class="material-icons">phone</i>
        </div>
        <div class="text">
          {{contact.phone}}
        </div>
      </div>
    </a>

    <a :href="'mailto:'+contact.email">
      <div class="item">
        <div class="icon">
          <i class="material-icons">email</i>
        </div>
        <div class="text">
          {{contact.email}}
        </div>
      </div>
    </a>

    <a *ngIf="contact.github" :href="'https://github.com/'+contact.github" target="_blank">
      <div class="item">
        <div class="icon">
          <i class="fa fa-github"></i>
        </div>
        <div class="text">
          <span>@{{contact.github}}</span>
          <span>github.com/{{contact.github}}</span>
        </div>
      </div>
    </a>

    <a *ngIf="contact.website" :href="contact.website" target="_blank">
      <div class="item">
        <div class="icon">
          <i class="material-icons">language</i>
        </div>
        <div class="text">
          <span>{{contact.website}}</span>
        </div>
      </div>
    </a>

    <div class="item last">
      <div class="section-headline">
        {{ skills }}
      </div>
      <div class="skill" *ngFor="let skill of skills" :key="skill.name">
        <div class="right">
          <span>{{skill.name}}&nbsp;</span>
          <div class="progress">
            <div class="determinate" :style="'width: '+skill.level+'%;'">
              <i class="fa fa-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rightCol">
    <div class="title">
      <h2>{{name.first}} {{name.middle}} {{name.last}}</h2>
      <div>{{position}}</div>
    </div>

    <div class="section-headline">This is experience headline</div>
    <div class="block" *ngFor="let experience of experiences let company = index">
      <div class="block-helper"></div>
      <h3 class="headline">{{experience.position}} - {{experience.company}}</h3>
        <div class="subheadline">{{experience.timeperiod}}</div>
        <p class="info">
          {{experience.description}}
        </p>
    </div>
    <!--div class="section-headline">{{ lang.education }}</div>
    <div class="block" *ngFor="education in education" :key="education.degree">
      <div class="block-helper"></div>
      <div class="headline">{{education.degree}}</div>
      <p class="info">
        {{education.timeperiod}}, {{education.description}}
      </p>
    </div-->
  </div>

  <div style="clear:both;"></div>
</div>
