* {
  margin: 0;
  padding:0;
}

.container{
  margin-left: 10%;
  margin-right: 10%;
  padding:0;
  box-sizing: border-box;
}

.control-bar{
  display: flex;
  justify-content: space-between;
}

.left-space{
  margin-left: 24px;
}

table {
  width: 100%;
}


