<mat-card class="container">
  <mat-toolbar>
    <p>
    <button mat-button color="accent" (click)="newHost()">New</button>
    <button mat-button color="accent">Edit</button>
    <button mat-button color="accent" (click) = "onDelete()">Delete</button>
    </p>
  </mat-toolbar>
  <form *ngIf="isHide()" [formGroup]="host" (ngSubmit)="onSubmit(host.value)">
    <table style="width:100%" cellspacing="10px">
      <tr>
        <td>
          <mat-form-field style="width: 100%" >
            <mat-label>Hostname/IP</mat-label>
            <input matInput [formControl]="host.controls['hostname']">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%">
            <mat-label>User name</mat-label>
            <input matInput [formControl]="host.controls['user']">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field style="width: 100%">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="host.controls['password']">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%">
            <mat-label>Catagary</mat-label>
            <input matInput [formControl]="host.controls['cata']">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <p><button type="submit" mat-raised-button color="primary" >Submit</button></p>
      </tr>
    </table>
  </form>
  <select-table></select-table>
</mat-card>
