<mat-card class="content-container">
  <p>
    <mat-form-field>
      <mat-select>
        <mat-option></mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color = "primary">新加客户</button>
  </p>
  <mat-card-content>
    <form >
      <table style="width: 100%" cellspacing="0"><tr>
        <td>
          <mat-form-field style="width: 100%" floatLabel="never">
            <mat-label>姓</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%">
            <mat-label>名</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
      </tr></table>
      <p>
        <mat-form-field class="demo-full-width">
          <mat-label>地址</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>
      <table style="width: 100%" cellspacing="0"><tr>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>省</mat-label>
            <input matInput value="浙江省">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>城市</mat-label>
            <input matInput maxLength="5" value="杭州市">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>区</mat-label>
            <input matInput maxLength="5" value="西湖区">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>邮政编码</mat-label>
            <input matInput #postalCode maxLength="6" value="310012" pattern="[0-9]{6}">
            <mat-hint align="end">
              <mat-icon>mode_edit</mat-icon>
              <span aria-live="polite">{{postalCode.value.length}} / 6</span>
            </mat-hint>
          </mat-form-field>
        </td>
      </tr></table>
    </form>
  </mat-card-content>
</mat-card>
<orders-select></orders-select>
